html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: monospace;
    color: #333;
    width: 100vw;
}

h1 {
    text-align: center;
    margin: 20px 0 0 0;
    font-weight: normal;
    font-size: 3.0vh;
}

.container1 {
    max-width: 40vw;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.item1 {
    margin: 5px;
    background: #007bff;
    text-align: center;
    font-size: 2vh;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.container2 {
    max-width: 40vw;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}

.item2 {
    flex: 1;
    margin: 5px;
    background: #007bff;
    text-align: center;
    font-size: 2vh;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.container3 {
    max-width: 36vw;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}

.item3 {
    flex: 1;
    margin: 5px;
    background: #007bff;
    text-align: center;
    font-size: 2vh;
}

.row-nowrap {
    flex-flow: row nowrap;
}

.column-nowrap {
    flex-flow: column nowrap;
}

.row-wrap {
    flex-flow: row wrap;
}

.container4 {
    max-width: 36vw;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}

.item4 {
    flex: 1;
    margin: 5px;
    background: #007bff;
    text-align: center;
    font-size: 2vh;
}